# Common ignore rules
node_modules/
.env
.DS_Store
dist/
build/
*.log
*.env.local
*.env.development
*.env.production

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Client
client/.env
client/coverage/

# Server
server/.env
server/coverage/